# delete slashes in the end of string
RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_URI} (.*)/$
RewriteRule . %1 [R=301,L,E=NS:1,QSA]

#do not rewrite path for 


#rules for index
RewriteRule ^/ru/$ index-ru.html
RewriteRule ^/eng/$ index-eng.html
