@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
    font-family:Roboto;
    background: #fafafa;
}
.wrapper {
	min-width: 320px;
	max-width: 100%;
	margin: 0 auto;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
    height: 300px;
    width: 300px;
    text-align: center;
}
h1 {
    color: #e32121;
    font-size: 3em;
    font-weight: 100;
}
p {
    color: #666;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.4;
}
.biggear{
    color: #b7b7b7;
    -webkit-animation: preloader 5.5s infinite linear;
    -moz-animation: preloader 5.5s infinite linear;
    -ms-animation: preloader 5.5s infinite linear;
    -o-animation: preloader 5.5s infinite linear;
    animation: preloader 5.5s infinite linear;
}
@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}
@keyframes preloader {
    to { transform: rotate(360deg); }
}
