* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family: 'Roboto', sans-serif;

}
.wrapper {
	min-width: 480px;
	max-width: 100%;
	margin: 0 auto;
    height: 100%;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 3em;
    color: #212121;
    letter-spacing: 8px;
}
h2 {
    font-size: 2em;
    color:#212121;
}
h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: #212121;
}
p {
    text-shadow: 1em;
    line-height: 1.4em;
    font-weight: 300;
    color: #212121;
}

.fa {
    color: #3e50b4;
}
/* Header
-----------------------------------------------------------------------------*/
.header-wrapper {
    width: 100%;
    position: absolute;
    background: #fff;
    background: #3e50b4;
}
.header {
	max-height: 100%;
    max-width: 1170px;
    margin: auto;
}




nav {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 0;
  overflow: hidden;
}
.logo-box {
    float: left;
    margin-left: 0px;
    padding-top: 0px;
}
.logo {
  margin: 0;
  height: 60px;
  text-align: center;
}
ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 60px;
  line-height: 60px;
  text-align:center;
}
a {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
li a {
    color: #ffffff;
    letter-spacing: 1px;
}
li {
  display: inline-block;
  margin-left: 25px;
  transition: .35s linear;
}
li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #FF4081;
  transition: all 0.2s linear;
}
li a:hover:after{
  width: 100%;
}

@media screen and (max-width:768px) {
  .logo-box {
    float: none;
    margin: 0 auto;
  }
  ul {
    float: none;
    margin: 0 25px;
    }
 li:first-of-type {margin-left:0}
}

@media screen and (max-width:480px) {
nav {
  overflow: visible
}
ul {
  height: auto;
  margin: 25px 25px 0 25px;
  line-height: 50px;
}
li {
  display: block;
  margin: 0;
}
li:hover {
  background: rgba(0,0,0,.1)
}
li a:after {
  content: none;
}
}










/* WElocome
-----------------------------------------------------------------------------*/
.content-wrapper {
    height: 100vh;
    background-image: url("images/welcome-backgraund.png");
    background-color: #fff;
    background-size: cover;
}
.content {
    max-width: 1170px;
    height: 100vh;
    margin: auto;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.welcome h1 {
    animation: fadeInUp 3s 1;
}


.welcome {
    text-align: right;
    position: relative;
    max-width: 400px;
    float: right;
    top: 40%;
    animation: fadeInUp 3s 1;
}






.button {
    float: right;
    color: #FF4081;
    font-size: 1em;
    padding: 10px 30px 10px 30px;
    border: solid #FF4081 2px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    border-radius: 30px;
}
.button:hover {
  background: #FF4081;
  color: #fff;
}








/* Services
-----------------------------------------------------------------------------*/
.services-wrapper {
    display: table;
    width: 100%;
}
.services-wrapper h2{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.services {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    text-align: justify;
}
.block {
    width: 48%;
    min-height: 200px;
    overflow:hidden;
    display: inline-block;
    background: #fff;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
.clear{
    width: 100%;
    display: inline-block;
}
.block a {
    display: block;
}
.block:hover{
    background: #f5f5f5;
}
.block-fa {
    float: left;
    width: 150px;
    height: 150px;
    line-height: 200px;
    text-align: center;
}
.block-text {
    width: 100%;
    padding-top: 20px;
}
.block-text h3 {
    font-weight: 700;
    color: #3F51B5;
}
.block-text p {
    color: #8a8a8a;
    font-weight: 400;
    padding-right: 20px;
}






/* Design
-----------------------------------------------------------------------------*/
.design-wrapper {
    height: 100vh;
    background-image: url(images/back/Wedede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}
.design {
    max-width: 1170px;
    height: 100vh;
    margin: auto;
}









/* Gallery
-----------------------------------------------------------------------------*/
.gallery-wrapper {

}

.gallery{
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery h2 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: 700;
    color: #212121;
}
.gallery-item{

    width: 350px;
    height: 250px;
    background: #000;
    position: relative;
    cursor: pointer;
    margin: 20px;
    overflow: hidden;
}

.gallery-item-image{
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightblue;
  z-index:20;
  transition: all .35s ease;
  bottom:0;
  overflow: hidden;
}

.gallery-item:hover .gallery-item-image{
  bottom: 100px;
}

.gallery-item-description{
    color: #fff;
    width: 100%;
    height: 100px;
    background: #3e50b4;
    position: absolute;
    bottom:0;
    padding-left: 20px;
}
.gallery-item-description p {
    margin-top: 20px;
    color: #fff;
    line-height: 1.6em;
}












/* Trust
-----------------------------------------------------------------------------*/
.trust-wrapper {
    margin-top: 150px;
    margin-bottom: 180px;
    width: 100%;
    height: 180px;
    background: #f5f5f5;
}

.trust {
    float: left;
    overflow: hidden;
    width: 20%;
    height: 180px;
    text-align: center;
    margin-top: 0px;
}
.trust h3 {
    padding-top: 20px;
}
.trust h1 {
    color: #FF4081;
}









/* Footer
-----------------------------------------------------------------------------*/
.footer-wrapper {
	height: 400px;
	background: #424242;
}
.footer {
    background: #999;
    max-width: 1170px;
    margin: auto;
    height: 100%;
}





/* Media
-----------------------------------------------------------------------------*/
@media screen and (max-width:768px) {
    .header-wrapper {
        position: relative;
}
    .block {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .trust-wrapper {
        height: 900px;
    }
    .trust {
    width: 100%;
}
}

@media screen and (max-width:480px) {

}
